@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

* {
  font-family: 'Syne', sans-serif;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: black;
  height: 60px;
  align-items: center;
}

.nav-list li {
  margin-right: 20px;
}


.nav-list li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  transition: color 0.3s;

  position: relative;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: black
}

.sub-menu li {
  margin: 0;
}


.sub-menu a {
  color: white;
  font-weight: normal;
  font-size: 14px;
  padding: 10px;
  transition: color 0.3s;
}

.nav-list li:hover .sub-menu {
  display: block;
}


.nav-list li a:hover {
  color: #FFD700;
}